body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u17 {
  position:absolute;
  left:2px;
  top:315px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:32px;
  top:374px;
  width:314px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:303px;
  top:0px;
  width:72px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:26px;
  top:374px;
  width:320px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
