body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1185px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4833 {
  position:absolute;
  left:-5px;
  top:0px;
  width:1200px;
  height:48px;
}
#u4834 {
  position:absolute;
  left:2px;
  top:16px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:583px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.247058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4835 {
  position:absolute;
  left:-5px;
  top:125px;
  width:192px;
  height:583px;
}
#u4836 {
  position:absolute;
  left:2px;
  top:284px;
  width:188px;
  visibility:hidden;
  white-space:nowrap;
}
#u4837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#3399CC;
}
#u4837 {
  position:absolute;
  left:13px;
  top:65px;
  width:145px;
  height:33px;
  font-size:24px;
  color:#3399CC;
}
#u4838 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:661px;
}
#u4839 {
  position:absolute;
  left:185px;
  top:48px;
  width:1px;
  height:660px;
}
#u4840 {
  position:absolute;
  left:2px;
  top:322px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u4841 {
  position:absolute;
  left:13px;
  top:181px;
  width:25px;
  height:20px;
}
#u4842 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4843 {
  position:absolute;
  left:15px;
  top:394px;
  width:26px;
  height:26px;
}
#u4844 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u4845 {
  position:absolute;
  left:15px;
  top:221px;
  width:21px;
  height:29px;
}
#u4846 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u4847 {
  position:absolute;
  left:15px;
  top:269px;
  width:23px;
  height:18px;
}
#u4848 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u4849 {
  position:absolute;
  left:18px;
  top:350px;
  width:20px;
  height:24px;
}
#u4850 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u4851 {
  position:absolute;
  left:13px;
  top:138px;
  width:25px;
  height:20px;
}
#u4852 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4853 {
  position:absolute;
  left:48px;
  top:138px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4854 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4855 {
  position:absolute;
  left:-5px;
  top:169px;
  width:180px;
  height:44px;
}
#u4856 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4857 {
  position:absolute;
  left:48px;
  top:180px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u4858 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4859 {
  position:absolute;
  left:48px;
  top:226px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u4860 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4861 {
  position:absolute;
  left:48px;
  top:269px;
  width:129px;
  height:22px;
  font-size:16px;
}
#u4862 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4863 {
  position:absolute;
  left:48px;
  top:310px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4864 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4865 {
  position:absolute;
  left:49px;
  top:396px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4867 {
  position:absolute;
  left:48px;
  top:352px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4868 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4869 {
  position:absolute;
  left:12px;
  top:6px;
  width:421px;
  height:40px;
  font-size:28px;
}
#u4870 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u4871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4871 {
  position:absolute;
  left:-5px;
  top:124px;
  width:192px;
  height:1px;
}
#u4872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4873 {
  position:absolute;
  left:-5px;
  top:124px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:2px;
}
#u4874 {
  position:absolute;
  left:-10px;
  top:168px;
  width:197px;
  height:1px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:-8px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4876 {
  position:absolute;
  left:-5px;
  top:213px;
  width:192px;
  height:1px;
}
#u4877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4878 {
  position:absolute;
  left:-5px;
  top:256px;
  width:192px;
  height:1px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:2px;
}
#u4880 {
  position:absolute;
  left:-6px;
  top:299px;
  width:193px;
  height:1px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:-8px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4882 {
  position:absolute;
  left:-5px;
  top:341px;
  width:192px;
  height:1px;
}
#u4883 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4884 {
  position:absolute;
  left:-5px;
  top:385px;
  width:192px;
  height:1px;
}
#u4885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4886 {
  position:absolute;
  left:-5px;
  top:428px;
  width:192px;
  height:1px;
}
#u4887 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4888 {
  position:absolute;
  left:12px;
  top:307px;
  width:27px;
  height:23px;
}
#u4889 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890 {
  position:absolute;
  left:-5px;
  top:169px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4891 {
  position:absolute;
  left:-5px;
  top:212px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4892 {
  position:absolute;
  left:-5px;
  top:257px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4893 {
  position:absolute;
  left:-5px;
  top:297px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4894 {
  position:absolute;
  left:-5px;
  top:342px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4895 {
  position:absolute;
  left:-5px;
  top:385px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:2px;
}
#u4896 {
  position:absolute;
  left:197px;
  top:636px;
  width:438px;
  height:1px;
}
#u4897 {
  position:absolute;
  left:2px;
  top:-8px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4898 {
  position:absolute;
  left:197px;
  top:647px;
  width:410px;
  height:22px;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  white-space:nowrap;
}
#u4900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:2px;
}
#u4900 {
  position:absolute;
  left:197px;
  top:124px;
  width:964px;
  height:1px;
}
#u4901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4902 {
  position:absolute;
  left:213px;
  top:71px;
  width:81px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4903 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4904 {
  position:absolute;
  left:213px;
  top:148px;
  width:49px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4905 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4906 {
  position:absolute;
  left:286px;
  top:148px;
  width:300px;
  height:25px;
}
#u4906_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4907 {
  position:absolute;
  left:213px;
  top:183px;
  width:51px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4908 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4909 {
  position:absolute;
  left:286px;
  top:183px;
  width:300px;
  height:25px;
}
#u4909_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4910 {
  position:absolute;
  left:213px;
  top:218px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4911 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4912 {
  position:absolute;
  left:286px;
  top:218px;
  width:300px;
  height:25px;
}
#u4912_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4913 {
  position:absolute;
  left:213px;
  top:253px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4914 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4915 {
  position:absolute;
  left:286px;
  top:253px;
  width:300px;
  height:25px;
}
#u4915_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4916 {
  position:absolute;
  left:213px;
  top:288px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4917 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4918 {
  position:absolute;
  left:286px;
  top:288px;
  width:300px;
  height:25px;
}
#u4918_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4919 {
  position:absolute;
  left:213px;
  top:323px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4920 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4921 {
  position:absolute;
  left:286px;
  top:323px;
  width:300px;
  height:25px;
}
#u4921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4922 {
  position:absolute;
  left:213px;
  top:358px;
  width:81px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4923 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4924 {
  position:absolute;
  left:286px;
  top:358px;
  width:300px;
  height:25px;
}
#u4924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4925 {
  position:absolute;
  left:338px;
  top:405px;
  width:140px;
  height:40px;
  opacity:0.8;
}
#u4925_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4925.mouseOver {
  opacity:1;
}
#u4926 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
