body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1191px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4170 {
  position:absolute;
  left:-2px;
  top:0px;
  width:1200px;
  height:48px;
}
#u4171 {
  position:absolute;
  left:2px;
  top:16px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:583px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.247058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4172 {
  position:absolute;
  left:-2px;
  top:125px;
  width:192px;
  height:583px;
}
#u4173 {
  position:absolute;
  left:2px;
  top:284px;
  width:188px;
  visibility:hidden;
  white-space:nowrap;
}
#u4174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#3399CC;
}
#u4174 {
  position:absolute;
  left:16px;
  top:65px;
  width:145px;
  height:33px;
  font-size:24px;
  color:#3399CC;
}
#u4175 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:661px;
}
#u4176 {
  position:absolute;
  left:188px;
  top:48px;
  width:1px;
  height:660px;
}
#u4177 {
  position:absolute;
  left:2px;
  top:322px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u4178 {
  position:absolute;
  left:16px;
  top:181px;
  width:25px;
  height:20px;
}
#u4179 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4180 {
  position:absolute;
  left:18px;
  top:394px;
  width:26px;
  height:26px;
}
#u4181 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u4182 {
  position:absolute;
  left:18px;
  top:221px;
  width:21px;
  height:29px;
}
#u4183 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u4184 {
  position:absolute;
  left:18px;
  top:269px;
  width:23px;
  height:18px;
}
#u4185 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u4186 {
  position:absolute;
  left:21px;
  top:350px;
  width:20px;
  height:24px;
}
#u4187 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u4188 {
  position:absolute;
  left:16px;
  top:138px;
  width:25px;
  height:20px;
}
#u4189 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4190 {
  position:absolute;
  left:51px;
  top:138px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4191 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4192 {
  position:absolute;
  left:-2px;
  top:169px;
  width:180px;
  height:44px;
}
#u4193 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4194 {
  position:absolute;
  left:51px;
  top:180px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u4195 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4196 {
  position:absolute;
  left:51px;
  top:226px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u4197 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4198 {
  position:absolute;
  left:51px;
  top:269px;
  width:129px;
  height:22px;
  font-size:16px;
}
#u4199 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4200 {
  position:absolute;
  left:51px;
  top:310px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4201 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4202 {
  position:absolute;
  left:52px;
  top:396px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4203 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4204 {
  position:absolute;
  left:51px;
  top:352px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4205 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4206 {
  position:absolute;
  left:15px;
  top:6px;
  width:421px;
  height:40px;
  font-size:28px;
}
#u4207 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u4208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4208 {
  position:absolute;
  left:-2px;
  top:124px;
  width:192px;
  height:1px;
}
#u4209 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4210 {
  position:absolute;
  left:-2px;
  top:124px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:2px;
}
#u4211 {
  position:absolute;
  left:-7px;
  top:168px;
  width:197px;
  height:1px;
}
#u4212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4213 {
  position:absolute;
  left:-2px;
  top:213px;
  width:192px;
  height:1px;
}
#u4214 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4215 {
  position:absolute;
  left:-2px;
  top:256px;
  width:192px;
  height:1px;
}
#u4216 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:2px;
}
#u4217 {
  position:absolute;
  left:-3px;
  top:299px;
  width:193px;
  height:1px;
}
#u4218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4219 {
  position:absolute;
  left:-2px;
  top:341px;
  width:192px;
  height:1px;
}
#u4220 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4221 {
  position:absolute;
  left:-2px;
  top:385px;
  width:192px;
  height:1px;
}
#u4222 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4223 {
  position:absolute;
  left:-2px;
  top:428px;
  width:192px;
  height:1px;
}
#u4224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4225 {
  position:absolute;
  left:15px;
  top:307px;
  width:27px;
  height:23px;
}
#u4226 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4227 {
  position:absolute;
  left:-2px;
  top:169px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4228 {
  position:absolute;
  left:-2px;
  top:212px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4229 {
  position:absolute;
  left:-2px;
  top:257px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4230 {
  position:absolute;
  left:-2px;
  top:297px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4231 {
  position:absolute;
  left:-2px;
  top:342px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4232 {
  position:absolute;
  left:-2px;
  top:385px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:2px;
}
#u4233 {
  position:absolute;
  left:200px;
  top:636px;
  width:438px;
  height:1px;
}
#u4234 {
  position:absolute;
  left:2px;
  top:-8px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4235 {
  position:absolute;
  left:200px;
  top:647px;
  width:410px;
  height:22px;
}
#u4236 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  white-space:nowrap;
}
#u4237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:2px;
}
#u4237 {
  position:absolute;
  left:200px;
  top:124px;
  width:964px;
  height:1px;
}
#u4238 {
  position:absolute;
  left:2px;
  top:-8px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4239 {
  position:absolute;
  left:216px;
  top:71px;
  width:81px;
  height:20px;
  font-size:20px;
}
#u4240 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 166, 188, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4242 {
  position:absolute;
  left:241px;
  top:169px;
  width:325px;
  height:141px;
}
#u4243 {
  position:absolute;
  left:2px;
  top:62px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4244 {
  position:absolute;
  left:270px;
  top:190px;
  width:100px;
  height:100px;
}
#u4245 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u4246 {
  position:absolute;
  left:396px;
  top:205px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#3399FF;
}
#u4247 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4248 {
  position:absolute;
  left:398px;
  top:240px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4249 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 166, 188, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4251 {
  position:absolute;
  left:715px;
  top:169px;
  width:325px;
  height:141px;
}
#u4252 {
  position:absolute;
  left:2px;
  top:62px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4253 {
  position:absolute;
  left:744px;
  top:190px;
  width:100px;
  height:100px;
}
#u4254 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u4255 {
  position:absolute;
  left:870px;
  top:205px;
  width:109px;
  height:25px;
  font-size:18px;
  color:#3399FF;
}
#u4256 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4257 {
  position:absolute;
  left:872px;
  top:240px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4258 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 166, 188, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4260 {
  position:absolute;
  left:241px;
  top:402px;
  width:325px;
  height:141px;
}
#u4261 {
  position:absolute;
  left:2px;
  top:62px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4262 {
  position:absolute;
  left:270px;
  top:423px;
  width:100px;
  height:100px;
}
#u4263 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u4264 {
  position:absolute;
  left:396px;
  top:438px;
  width:145px;
  height:25px;
  font-size:18px;
  color:#3399FF;
}
#u4265 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4266 {
  position:absolute;
  left:398px;
  top:473px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4267 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 166, 188, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4269 {
  position:absolute;
  left:715px;
  top:402px;
  width:325px;
  height:141px;
}
#u4270 {
  position:absolute;
  left:2px;
  top:62px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u4271 {
  position:absolute;
  left:744px;
  top:423px;
  width:100px;
  height:100px;
}
#u4272 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#3399FF;
}
#u4273 {
  position:absolute;
  left:870px;
  top:438px;
  width:127px;
  height:25px;
  font-size:18px;
  color:#3399FF;
}
#u4274 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4275 {
  position:absolute;
  left:872px;
  top:473px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4276 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
