/* reset */
body {
  margin: 0;
  background: #b8d9be;
}
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
input {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  border: none;
  vertical-align: text-bottom;
}
h3 {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/* 框架搭建 */
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 0.5rem;
  font-family: Arial, Helvetica, STHeiTi, sans-serif;
}
/* main */
.head_box {
  width: 100%;
  height: 1.85rem;
  background: #fabc09;
  position: fixed;
}
.head_box .btn_type {
  float: left;
  width: 1.95rem;
  height: 1.85rem;
  background: url(../img/ico-type.jpg) no-repeat;
  background-position: 0.55rem 0.25rem;
  background-size: 0.825rem 1.375rem;
}
.head_box .search_box {
  float: left;
  width: 12rem;
  height: 1.85rem;
  position: relative;
}
.head_box .search_box:before {
  content: "";
  width: 0.55rem;
  height: 0.575rem;
  position: absolute;
  top: 0.65rem;
  left: 0.4rem;
  background: url(../img/ico-search.jpg) no-repeat;
  background-size: 0.55rem 0.575rem;
}
.head_box .search_box .search_form {
  padding-top: 0.35rem;
  height: 1.25rem;
}
.head_box .search_box .search_form .search_input {
  float: left;
  width: 12rem;
  height: 1.25rem;
  border-radius: 0.15rem;
  background-color: #d5dba9;
  padding-left: 1.275rem;
  box-sizing: border-box;
  font-size: 0.5rem;
}
.head_box .shop_car {
  float: left;
  width: 2.05rem;
  height: 1.85rem;
  background: url(../img/ico-shopCar.jpg) no-repeat 0.425rem 0.2rem;
  background-size: 1.25rem 1.4rem;
}
.wrap {
  width: 100%;
  padding-top: 1.85rem;
}
.banner {
  width: 100%;
  height: 6.8rem;
}
.banner img {
  width: 100%;
}
.nav {
  width: 100%;
  padding: 0.45rem 0 0.05rem 0;
  box-sizing: border-box;
  background-color: #cce3d1;
  border-top: 1px solid #acd3b3;
}
.nav .nav_item {
  float: left;
  width: 20%;
  height: 2.85rem;
  text-align: center;
  margin-bottom: 0.2rem;
  color: #818788;
}
.nav .nav_item img {
  width: 1.7rem;
  height: 1.75rem;
}
.nav .nav_item .nav_title {
  display: block;
  font-weight: bold;
  line-height: 1.1rem;
}
.suning_tt {
  width: 100%;
  height: 2.175rem;
  margin-top: 2px;
  background-color: #cce3d1;
}
.suning_tt .tt_title {
  float: left;
  width: 3.475rem;
  height: 2.175rem;
  background: url(../img/ico-tt.jpg) no-repeat 0 0.55rem;
  background-size: 3.1rem 1.025rem;
}
.suning_tt .tt_line {
  float: left;
  width: 1px;
  height: 0.825rem;
  background: #97c1a0;
  margin-top: 0.675rem;
}
.suning_tt .tt_list {
  float: left;
  width: 10.8rem;
  height: 2.175rem;
  padding-top: 0.35rem;
  box-sizing: border-box;
  margin-left: 0.8rem;
}
.suning_tt .tt_list .item {
  display: block;
  line-height: 0.7rem;
  color: #333;
  background: url(../img/ico-list.jpg) no-repeat 0 0.3rem;
  background-size: 0.15rem 0.15rem;
  text-indent: 0.425rem;
}
.shoping_type {
  margin-top: 0.475rem;
}
.shoping_type .type_top {
  height: 6.2rem;
  overflow: hidden;
}
.shoping_type .type_top a {
  float: left;
}
.shoping_type .type_top .big_img {
  width: 7.975rem;
  height: 6.2rem;
  margin-right: 1px;
}
.shoping_type .type_top .big_img img {
  width: 7.975rem;
  height: 6.2rem;
}
.shoping_type .type_top .sub_img {
  width: 7.975rem;
  height: 3.075rem;
  margin-bottom: 1px;
}
.shoping_type .type_top .sub_img img {
  width: 7.975rem;
  height: 3.075rem;
}
.shoping_type .bottom_item {
  float: left;
  margin: 0 1px 1px 0;
}
.shoping_type .bottom_item img {
  width: 3.975rem;
  height: 6.425rem;
}
.suning_time {
  width: 100%;
  height: 6.425rem;
  background-color: #cce3d1;
  margin-top: 0.825rem;
  padding-left: 0.4rem;
  box-sizing: border-box;
}
.suning_time .head {
  width: 100%;
  height: 1.35rem;
}
.suning_time .head .head_left {
  float: left;
}
.suning_time .head .head_left .title {
  float: left;
  width: 2.9rem;
  height: 1rem;
  margin-right: 0.4rem;
  background: url(../img/title-qg.jpg) no-repeat;
  background-size: 2.9rem 1rem;
}
.suning_time .head .head_left .time_box {
  float: left;
  padding-top: 0.35rem;
}
.suning_time .head .head_left .time_box .time_name {
  float: left;
  font-size: 0.45rem;
  color: #f94f4e;
}
.suning_time .head .head_left .time_box .upload_time {
  float: left;
}
.suning_time .head .head_left .time_box .upload_time .time_item {
  float: left;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid #809474;
  border-radius: 0.1rem;
  text-align: center;
  line-height: 0.5rem;
  color: #383938;
  margin: 0 0.2rem;
}
.suning_time .head .head_left .time_box .upload_time .time_ico {
  float: left;
}
.suning_time .head .head_left .time_box .upload_time .tips {
  color: #ff3739;
  border-color: #ff3739;
}
.suning_time .head .head_right {
  float: right;
  padding: 0.275rem 0.5rem 0 0;
}
.suning_time .head .head_right .more {
  float: left;
  width: 2.6rem;
  height: 0.725rem;
  line-height: 0.725rem;
  font-size: 0.45rem;
  text-align: center;
  background-color: #ffc001;
  border-radius: 0.3rem;
  color: #456c24;
  margin-right: 0.05rem;
}
.suning_time .head .head_right .ico_more {
  float: left;
  width: 0.375rem;
  height: 0.625rem;
  background: url(../img/ico-sj.jpg) no-repeat;
  background-size: 100%;
}
.suning_time .shoping_list {
  width: 200%;
}
.suning_time .shoping_list .list_item {
  width: 4.75rem;
  float: left;
  margin-right: 0.2rem;
}
.suning_time .shoping_list .list_item .item_img {
  display: block;
  width: 4.7rem;
  border: 1px solid #b2cdb1;
}
.suning_time .shoping_list .list_item .item_img img {
  width: 100%;
}
.suning_time .shoping_list .list_item .item_bottom {
  box-sizing: border-box;
  width: 100%;
  height: 1.425rem;
  padding-left: 0.4rem;
  background-color: #ddd;
  position: relative;
}
.suning_time .shoping_list .list_item .item_bottom .price {
  display: block;
  color: #dc0000;
  line-height: 0.7rem;
}
.suning_time .shoping_list .list_item .item_bottom .old {
  display: block;
  font-size: 0.4rem;
  line-height: 0.6rem;
  color: #999;
}
.suning_time .shoping_list .list_item .item_bottom .discount {
  box-sizing: border-box;
  position: absolute;
  right: 0.15rem;
  top: -0.15rem;
  width: 1.525rem;
  height: 1.525rem;
  padding-top: 0.25rem;
  background: url(../img/ico-zhekou.jpg) no-repeat;
  background-size: 100%;
  color: #fff;
  text-align: center;
}
.suning_time .shoping_list .list_item .item_bottom .discount .big_font {
  font-size: 0.55rem;
}
.suning_time .shoping_list .list_item .item_bottom .discount .big_font span {
  font-size: 0.45rem;
}
.suning_time .shoping_box {
  width: 100%;
  overflow: hidden;
}
.suning_phone {
  width: 100%;
  height: 6.425rem;
  margin-top: 0.425rem;
  margin-bottom: 0.45rem;
}
.suning_phone a {
  float: left;
  width: 7.975rem;
  height: 6.425rem;
  margin-right: 1px;
}
.suning_phone a img {
  width: 100%;
  height: 100%;
}
.suning_bigBuy {
  width: 100%;
  margin-bottom: 0.45rem;
}
.suning_bigBuy .big_title {
  width: 100%;
  height: 1.25rem;
  text-align: center;
  color: #fe3753;
  font-size: 0.55rem;
  line-height: 1.25rem;
  margin-bottom: 0.05rem;
  background: #fff;
}
.suning_bigBuy .big_content {
  width: 100%;
}
.suning_bigBuy .big_content a {
  float: left;
}
.suning_bigBuy .big_content .bigbuy1 {
  width: 7.95rem;
  height: 8.55rem;
  margin-right: 0.05rem;
}
.suning_bigBuy .big_content .bigbuy1 img {
  width: 7.95rem;
  height: 8.55rem;
}
.suning_bigBuy .big_content .bigbuy2 {
  width: 7.95rem;
  height: 3.075rem;
  margin-bottom: 2px;
}
.suning_bigBuy .big_content .bigbuy2 img {
  width: 7.95rem;
  height: 3.075rem;
}
.suning_bigBuy .big_content .bigbuy3 {
  width: 3.95rem;
  height: 5.4rem;
  margin-right: 1px;
}
.suning_bigBuy .big_content .bigbuy3 img {
  width: 3.95rem;
  height: 5.4rem;
}
.suning_bigBuy .big_content .bigbuy4 {
  width: 3.95rem;
  height: 5.4rem;
}
.suning_bigBuy .big_content .bigbuy4 img {
  width: 3.95rem;
  height: 5.4rem;
}
.mi {
  width: 100%;
  height: 4.275rem;
  margin-bottom: 0.45rem;
}
.mi img {
  width: 100%;
  height: 100%;
}
.like {
  width: 100%;
}
.like .like_title {
  width: 100%;
  height: 0.85rem;
  text-align: center;
  font-size: 0.725rem;
  line-height: 0.85rem;
  color: #26540b;
  position: relative;
  margin-bottom: 0.425rem;
}
.like .like_title .heart {
  width: 0.85rem;
  height: 0.85rem;
}
.like .like_title .heart img {
  width: 0.85rem;
  height: 0.85rem;
}
.like .like_title .line_left {
  position: absolute;
  top: 0.45rem;
  left: 0.4rem;
}
.like .like_title .line_left img {
  width: 5.25rem;
  height: 0.05rem;
}
.like .like_title .line_right {
  position: absolute;
  top: 0.45rem;
  right: 0.4rem;
}
.like .like_title .line_right img {
  width: 5.25rem;
  height: 0.05rem;
}
.like .like_con {
  width: 100%;
  padding: 0 0.4rem;
}
.like .like_con .item {
  width: 7.375rem;
  height: 10.35rem;
  float: left;
  margin-right: 0.45rem;
  margin-bottom: 0.35rem;
  background-color: #cce3d1;
}
.like .like_con .item img {
  width: 7.375rem;
  height: 7.375rem;
}
.like .like_con .item p {
  padding-left: 0.25rem;
  line-height: 0.8rem;
  color: #242123;
  font-size: 0.5rem;
}
.like .like_con .item p span {
  font-size: 0.625rem;
  line-height: 0.85rem;
  color: #e40c0d;
}
.download {
  width: 100%;
  margin-bottom: 0.45rem;
}
.download img {
  width: 100%;
  height: 3.175rem;
}
.footer {
  width: 100%;
  height: 4rem;
  background: #cbe3d1;
  text-align: center;
}
.footer a {
  display: inline-block;
  width: 3.15rem;
  height: 1.9rem;
  text-align: center;
  line-height: 1.9rem;
  color: #333;
  font-size: 0.55rem;
  float: left;
}
.footer p {
  display: block;
  height: 1.5rem;
  margin-top: 0.55rem;
  color: #8c8c8c;
  line-height: 1.5rem;
}
