body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u10 {
  position:absolute;
  left:2px;
  top:315px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:26px;
  top:358px;
  width:64px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
