body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1185px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:48px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4493 {
  position:absolute;
  left:-5px;
  top:0px;
  width:1200px;
  height:48px;
}
#u4494 {
  position:absolute;
  left:2px;
  top:16px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:583px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.247058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4495 {
  position:absolute;
  left:-5px;
  top:125px;
  width:192px;
  height:583px;
}
#u4496 {
  position:absolute;
  left:2px;
  top:284px;
  width:188px;
  visibility:hidden;
  white-space:nowrap;
}
#u4497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#3399CC;
}
#u4497 {
  position:absolute;
  left:13px;
  top:65px;
  width:145px;
  height:33px;
  font-size:24px;
  color:#3399CC;
}
#u4498 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:661px;
}
#u4499 {
  position:absolute;
  left:185px;
  top:48px;
  width:1px;
  height:660px;
}
#u4500 {
  position:absolute;
  left:2px;
  top:322px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u4501 {
  position:absolute;
  left:13px;
  top:181px;
  width:25px;
  height:20px;
}
#u4502 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4503 {
  position:absolute;
  left:15px;
  top:394px;
  width:26px;
  height:26px;
}
#u4504 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u4505 {
  position:absolute;
  left:15px;
  top:221px;
  width:21px;
  height:29px;
}
#u4506 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u4507 {
  position:absolute;
  left:15px;
  top:269px;
  width:23px;
  height:18px;
}
#u4508 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u4509 {
  position:absolute;
  left:18px;
  top:350px;
  width:20px;
  height:24px;
}
#u4510 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u4511 {
  position:absolute;
  left:13px;
  top:138px;
  width:25px;
  height:20px;
}
#u4512 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4513 {
  position:absolute;
  left:48px;
  top:138px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4514 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4515 {
  position:absolute;
  left:-5px;
  top:169px;
  width:180px;
  height:44px;
}
#u4516 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4517 {
  position:absolute;
  left:48px;
  top:180px;
  width:81px;
  height:22px;
  font-size:16px;
}
#u4518 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4519 {
  position:absolute;
  left:48px;
  top:226px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u4520 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4521 {
  position:absolute;
  left:48px;
  top:269px;
  width:129px;
  height:22px;
  font-size:16px;
}
#u4522 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4523 {
  position:absolute;
  left:48px;
  top:310px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4524 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4525 {
  position:absolute;
  left:49px;
  top:396px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4526 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4527 {
  position:absolute;
  left:48px;
  top:352px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u4528 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u4529 {
  position:absolute;
  left:12px;
  top:6px;
  width:421px;
  height:40px;
  font-size:28px;
}
#u4530 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u4531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4531 {
  position:absolute;
  left:-5px;
  top:124px;
  width:192px;
  height:1px;
}
#u4532 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4533 {
  position:absolute;
  left:-5px;
  top:124px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:2px;
}
#u4534 {
  position:absolute;
  left:-10px;
  top:168px;
  width:197px;
  height:1px;
}
#u4535 {
  position:absolute;
  left:2px;
  top:-8px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4536 {
  position:absolute;
  left:-5px;
  top:213px;
  width:192px;
  height:1px;
}
#u4537 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4538 {
  position:absolute;
  left:-5px;
  top:256px;
  width:192px;
  height:1px;
}
#u4539 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:2px;
}
#u4540 {
  position:absolute;
  left:-6px;
  top:299px;
  width:193px;
  height:1px;
}
#u4541 {
  position:absolute;
  left:2px;
  top:-8px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4542 {
  position:absolute;
  left:-5px;
  top:341px;
  width:192px;
  height:1px;
}
#u4543 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4544 {
  position:absolute;
  left:-5px;
  top:385px;
  width:192px;
  height:1px;
}
#u4545 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:2px;
}
#u4546 {
  position:absolute;
  left:-5px;
  top:428px;
  width:192px;
  height:1px;
}
#u4547 {
  position:absolute;
  left:2px;
  top:-8px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4548 {
  position:absolute;
  left:12px;
  top:307px;
  width:27px;
  height:23px;
}
#u4549 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4550 {
  position:absolute;
  left:-5px;
  top:169px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4551 {
  position:absolute;
  left:-5px;
  top:212px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4552 {
  position:absolute;
  left:-5px;
  top:257px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4553 {
  position:absolute;
  left:-5px;
  top:297px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4554 {
  position:absolute;
  left:-5px;
  top:342px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4555 {
  position:absolute;
  left:-5px;
  top:385px;
  width:192px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:2px;
}
#u4556 {
  position:absolute;
  left:197px;
  top:636px;
  width:438px;
  height:1px;
}
#u4557 {
  position:absolute;
  left:2px;
  top:-8px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4558 {
  position:absolute;
  left:197px;
  top:647px;
  width:410px;
  height:22px;
}
#u4559 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  white-space:nowrap;
}
#u4560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:2px;
}
#u4560 {
  position:absolute;
  left:197px;
  top:124px;
  width:964px;
  height:1px;
}
#u4561 {
  position:absolute;
  left:2px;
  top:-8px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4562 {
  position:absolute;
  left:213px;
  top:71px;
  width:121px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4563 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:115px;
}
#u4564 {
  position:absolute;
  left:245px;
  top:166px;
  width:93px;
  height:115px;
}
#u4565 {
  position:absolute;
  left:2px;
  top:50px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4566 {
  position:absolute;
  left:240px;
  top:291px;
  width:101px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4567 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:115px;
}
#u4568 {
  position:absolute;
  left:420px;
  top:166px;
  width:93px;
  height:115px;
}
#u4569 {
  position:absolute;
  left:2px;
  top:50px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4570 {
  position:absolute;
  left:415px;
  top:291px;
  width:101px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4571 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:115px;
}
#u4572 {
  position:absolute;
  left:600px;
  top:166px;
  width:93px;
  height:115px;
}
#u4573 {
  position:absolute;
  left:2px;
  top:50px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4574 {
  position:absolute;
  left:595px;
  top:291px;
  width:101px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4575 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:115px;
}
#u4576 {
  position:absolute;
  left:778px;
  top:166px;
  width:93px;
  height:115px;
}
#u4577 {
  position:absolute;
  left:2px;
  top:50px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4578 {
  position:absolute;
  left:773px;
  top:291px;
  width:101px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4579 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:115px;
}
#u4580 {
  position:absolute;
  left:965px;
  top:166px;
  width:93px;
  height:115px;
}
#u4581 {
  position:absolute;
  left:2px;
  top:50px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4582_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4582 {
  position:absolute;
  left:960px;
  top:291px;
  width:101px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4583 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4584 {
  position:absolute;
  left:245px;
  top:397px;
  width:818px;
  height:85px;
}
#u4585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u4585 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  font-size:16px;
}
#u4586 {
  position:absolute;
  left:2px;
  top:4px;
  width:267px;
  word-wrap:break-word;
}
#u4587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:30px;
}
#u4587 {
  position:absolute;
  left:271px;
  top:0px;
  width:169px;
  height:30px;
  font-size:16px;
}
#u4588 {
  position:absolute;
  left:2px;
  top:4px;
  width:165px;
  word-wrap:break-word;
}
#u4589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:30px;
}
#u4589 {
  position:absolute;
  left:440px;
  top:0px;
  width:373px;
  height:30px;
  font-size:16px;
}
#u4590 {
  position:absolute;
  left:2px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u4591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:50px;
}
#u4591 {
  position:absolute;
  left:0px;
  top:30px;
  width:271px;
  height:50px;
}
#u4592 {
  position:absolute;
  left:2px;
  top:17px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:50px;
}
#u4593 {
  position:absolute;
  left:271px;
  top:30px;
  width:169px;
  height:50px;
}
#u4594 {
  position:absolute;
  left:2px;
  top:17px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:50px;
}
#u4595 {
  position:absolute;
  left:440px;
  top:30px;
  width:373px;
  height:50px;
}
#u4596 {
  position:absolute;
  left:2px;
  top:17px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4597 {
  position:absolute;
  left:918px;
  top:509px;
  width:140px;
  height:40px;
  opacity:0.8;
  font-size:18px;
}
#u4597_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4597.mouseOver {
  opacity:1;
}
#u4598 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
